.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.main-screen h1 {
    margin-bottom: 2vh;
}

.main-screen button {
    padding: 1vh 2vh;
    font-size: 1.6rem;
}
.styled-select {
    width: 20%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #1A237E;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #1A237E;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="%231A237E"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.styled-select:focus {
    border-color: #3F51B5;
    outline: none;
}

.styled-select option {
    background-color: #FFFFFF;
    color: #1A237E;
}
.main {
    display: none;
}

.game-over-screen {
    display: none;
}