
.quiz-box{
    width: 85%;
    max-width: 100%;
    margin: 0;
    background-color: #d2e2e7;
    padding: 2vh;
    box-sizing: border-box;
    height: 80vh;
}
.timer{
    background-color: #FF0000;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.question {
    flex-grow: 1;
    margin-left: 2vh;
    margin-bottom: 2vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}