
.quiz-box{
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 399px;
}
.timer{
    background-color: #444;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.question{
    flex-grow: 1;
    margin-left: 20px;
    font-size: 16px;
}
