@import "header.css";
@import "quiz-box.css";
@import "questions.css";
@import "game-over.css";
@import "main-screen.css";
@import "footer.css";
@import "timer.css";

/* reseting styles and adding my own*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 0;
    width: 100%;
    padding: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body{
    margin: 0;
    background-color: #FFFFFF;
}
.main{
    background-color: #d4e5e3  ;
    width: 100%;
    max-width: 100%;
    padding: 2vh;
}
#restartButton{
    display: flex;
    flex-direction: row;
}